# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyAyoYOK3elADQJyScjYk7u2ukQCOVeg4HU"

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
weather_data = pd.read_csv("../starter_code/weather_df.csv")
weather_data

,Unnamed: 0,city_name,cloudiness,country,data,humidity,lat,lon,max_temp,wind_speed
0,0,Albany,100,US,1598662731,82,42.60,-73.97,68.00,1.54
1,1,Yellowknife,90,CA,1598663004,66,62.46,-114.35,55.40,10.29
2,2,Berlevåg,54,NO,1598663004,68,70.86,29.09,44.49,6.40
3,3,Melfort,20,CA,1598663004,55,52.87,-104.62,66.20,10.29
4,4,Harbour Breton,6,CA,1598663005,100,47.48,-55.80,57.99,7.00
...,...,...,...,...,...,...,...,...,...,...
558,558,Yārāda,40,IN,1598663158,94,17.65,83.27,80.60,2.24
559,559,Lokosovo,18,RU,1598663159,95,61.13,74.82,53.65,6.60
560,560,Fernley,31,US,1598663159,11,39.61,-119.25,93.00,3.00
561,561,Luanda,40,AO,1598663087,88,-8.84,13.23,69.80,10.29
562,562,Brae,40,GB,1598662985,87,60.40,-1.35,48.20,10.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
# Store latitude and longitude in locations
locations = weather_data[["lat", "lon"]]

# Fill NaN values and convert to float
humidity = weather_data["humidity"].astype(float)

In [16]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
#https://stackoverflow.com/questions/54237869/pandas-applying-multiple-greater-than-and-less-than-grouping-rows-by-specific-co

new_weather = weather_data.loc[(weather_data["max_temp"]>70) & (weather_data["max_temp"]<80) 
        & (weather_data["wind_speed"]<10)
        & (weather_data["cloudiness"]==0)]
new_weather

,Unnamed: 0,city_name,cloudiness,country,data,humidity,lat,lon,max_temp,wind_speed
29,29,Tūkrah,0,LY,1598663012,78,32.53,20.58,74.57,5.03
47,47,Rodolfo Sánchez Taboada,0,MX,1598663017,86,31.72,-116.57,72.00,1.99
134,134,Iğdır,0,TR,1598663042,46,39.92,44.05,71.60,4.70
156,156,Awjilah,0,LY,1598663049,66,29.11,21.29,76.48,8.28
203,203,Caravelas,0,BR,1598662847,88,-17.71,-39.25,70.54,3.60
310,310,Zaraza,0,VE,1598663091,94,9.35,-65.32,75.25,6.08
325,325,Tiznit Province,0,MA,1598663041,57,29.58,-9.50,72.03,7.23
362,362,Lago da Pedra,0,BR,1598662978,51,-4.33,-45.17,78.33,3.89
392,392,Tabas,0,IR,1598662926,17,33.60,56.92,75.20,4.70
417,417,Capaci,0,IT,1598663119,78,38.17,13.24,79.00,5.82
466,466,Torrevieja,0,ES,1598663035,78,37.98,-0.68,79.00,4.85
482,482,Barra do Garças,0,BR,1598663137,20,-15.89,-52.26,74.03,1.88
510,510,Marchena,0,ES,1598663145,40,37.33,-5.42,71.01,6.93
520,520,Behshahr,0,IR,1598663148,72,36.69,53.55,70.38,3.04
539,539,Marsá Maţrūḩ,0,EG,1598663152,73,31.35,27.25,77.00,5.82
540,540,Cehegín,0,ES,1598663153,56,38.09,-1.80,79.00,7.00
543,543,San Lorenzo,0,PY,1598663154,47,-25.33,-57.53,78.80,5.82
548,548,Changping,0,CN,1598663156,83,40.22,116.22,77.00,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure