# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
g_key = "AIzaSyAyoYOK3elADQJyScjYk7u2ukQCOVeg4HU"

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../WeatherPy/weather_df.csv")
weather_data

,Unnamed: 0,city_name,cloudiness,country,data,humidity,lat,lon,max_temp,wind_speed
0,0,Zhukovka,0,RU,1598816243,69,53.53,33.73,66.00,8.79
1,1,Souillac,75,MU,1598816039,83,-20.52,57.52,71.60,18.34
2,2,Grand Gaube,1,MU,1598816244,77,-20.01,57.66,71.01,5.99
3,3,Castro,0,BR,1598816245,54,-24.79,-50.01,76.35,3.49
4,4,Laas,67,IT,1598816246,88,46.62,10.70,62.60,2.24
...,...,...,...,...,...,...,...,...,...,...
557,557,Tambura,100,SS,1598816795,92,5.60,27.47,70.90,2.84
558,558,Tlapehuala,100,MX,1598816795,61,18.22,-100.52,89.47,0.98
559,559,Hengyang,0,CN,1598816796,79,26.89,112.61,76.37,3.27
560,560,Omsukchan,0,RU,1598816796,79,62.53,155.80,40.71,2.95
561,561,Kisi,100,NG,1598816797,93,9.08,3.85,72.66,6.46

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations = weather_data[["lat", "lon"]]

# Fill NaN values and convert to float
humidity = weather_data["humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#https://stackoverflow.com/questions/54237869/pandas-applying-multiple-greater-than-and-less-than-grouping-rows-by-specific-co

new_weather = weather_data.loc[(weather_data["max_temp"]>70) & (weather_data["max_temp"]<75) 
        & (weather_data["wind_speed"]<7)
        & (weather_data["humidity"]<90)
        & (weather_data["cloudiness"]==0)]
new_weather

,Unnamed: 0,city_name,cloudiness,country,data,humidity,lat,lon,max_temp,wind_speed
186,186,Lerik,0,AZ,1598816415,83,38.77,48.41,73.40,6.93
210,210,Nurota,0,UZ,1598816447,33,40.56,65.69,71.60,6.93
242,242,Bridgewater,0,CA,1598816474,65,44.38,-64.52,72.00,1.01
260,260,Safranbolu,0,TR,1598816486,38,41.25,32.69,70.11,0.81
336,336,SalÃ©,0,MA,1598816536,73,34.04,-6.82,71.60,5.82
397,397,Korocha,0,RU,1598816621,43,50.81,37.20,73.40,4.47
406,406,Longyan,0,CN,1598816632,85,25.11,117.02,74.17,2.35

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Add a new colum "Hotel Name"
new_weather["Hotel Name"] =""

# Rename other columns 
remamed = new_weather.rename(columns={"city_name": "City", "country": "Country", "lat": "Lat", "lon": "Lng"})

# Create a new df called hotel_df
hotel_df = remamed.loc[:,["City", "Country", "Lat", "Lng","Hotel Name"]]
hotel_df

C:\Users\sakis\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            City Country    Lat     Lng Hotel Name
186        Lerik      AZ  38.77   48.41
210       Nurota      UZ  40.56   65.69
242  Bridgewater      CA  44.38  -64.52
260   Safranbolu      TR  41.25   32.69
336         SalÃ©      MA  34.04   -6.82
397      Korocha      RU  50.81   37.20
406      Longyan      CN  25.11  117.02

In [7]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotel
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_location = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#    print(hotel_location.url)

    # convert to json
    hotel_location = hotel_location.json()
#    print(json.dumps(hotel_location, indent=4, sort_keys=True))

    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_location["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [8]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
186,Lerik,AZ,38.77,48.41,Hotel Lerik
210,Nurota,UZ,40.56,65.69,Guest House Ruslan Nurata & Tours
242,Bridgewater,CA,44.38,-64.52,Comfort Inn
260,Safranbolu,TR,41.25,32.69,Gulevi Safranbolu
336,SalÃ©,MA,34.04,-6.82,HÃ´tel Mercure Rabat Sheherazade
397,Korocha,RU,50.81,37.20,Dubravushka
406,Longyan,CN,25.11,117.02,Jinjiang Inn Longyan Zhongshan Road Pedestrian...

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))